services:

  webapp:
    build: .
    command: ["../wait-for-it.sh"]
    restart: always
    working_dir: /code/myshop 
    volumes:
      - .:/code
    expose:
      - "8000"
    environment:
      - DJANGO_SETTINGS_MODULE=myshop.settings.prod
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - REDIS_HOST=cache
      - REDIS_PORT=6379
    depends_on:
      - db
      - cache
    
  db:
    image: postgres:16.2
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432

  cache:
    image: redis:7.2.4
    restart: always
    volumes:
      - ./data/cache:/data
    ports:
      - "6379:6379"
    environment:
      - REDIS_HOST=cache
      - REDIS_PORT=6379

  nginx:
    image: nginx:1.25.5-alpine
    restart: always
    volumes:
      - ./config/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - .:/code
    ports:
      - "80:80"
    depends_on:
      - webapp
    networks:
      - default